<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="form-container">
        <form action="/" method="POST" enctype="multipart/form-data" class="attractive-form">
            <h1>Time to Watch A Youtube Playlist</h1>
            <input type="text" name="input" class="inputfield" placeholder="Playlist ID">
            <button type="submit" class="submitbutton" value="Submit">Submit</button>
            <p class="time">{{Timer}}</p>
        </form>
    </div>
</body>
</html>